:root {
    --color-primary: #1F2937;
    --color-secondary: #F9FAF8;
    --color-tertiary: #3882F6;
    --color-alternate: #E5E7EB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    line-height: 1.75;
}
.container {
    margin: 0 auto;
    width: 80%;
}

.logo {
    font-size: 1.5rem;
}
img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

section {
    padding: 6rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 2rem;
}

 h2, h3, h4, p {
    color: var(--color-primary);
}

h1 {
    font-size: 3rem;
    color: var(--color-secondary);
}

h2 {
    font-size: 2.25rem; /* same as 36px */
}

a {
    color: var(--color-secondary);
    cursor: pointer;
}

a:hover {
    color: var(--color-tertiary);
    transition: 0.3s ease;
}


.btn {
    padding: 5px 20px;
    background-color: var(--color-tertiary);
    font-weight: 600;
    text-transform: uppercase;
}

/* END OF GENERAL STYLING */

header[id="header"] {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--color-primary);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav[id="navigation"] .nav-links {
    display: flex;
    gap: 4rem;
}
/* END OF HEADER/NAVIGATION STYLING */

section[id="about"] {
    background-color: var(--color-primary);
}

section[id="about"] p {
    font-size: 18px;
    color: var(--color-alternate);
}

section[id="about"] .btn:hover {
    background-color: var(--color-alternate);
    color: var(--color-primary);
}

section[id="about"] .about-p {
    padding-top: 2rem;
}

section[id="about"] .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* END OF ABOUT SECTION STYLING */

section[id="sessions"] .btn {
    background-color: var(--color-primary);
    color: var(--color-alternate);
}
section[id="sessions"] .btn:hover {
    background-color: var(--color-tertiary);
    color: var(--color-secondary);
}

section[id="sessions"] .container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

article[class="sessions-column"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;  
}

article[class="sessions-column"] .sessions-image {
    padding: 1rem;
    border-radius: 1px 16px;
    border: 1px solid var(--color-primary);
}

article[class="sessions-column"] .paragraph {
    align-items: flex-end;
    padding-top: 1rem;
}

source, img {
    border-radius: 2px 16px;
}
/* END OF SESSIONS STYLING */

section[id="quote"] {
    background-color: var(--color-alternate);
}

section[id="quote"] p, cite {
    font-size: 2.25rem; /* same as 36px */
    color: var(--color-primary);
}
/* END OF QUOTE STYLING */

section[id="signup"] .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-tertiary);
    padding: 2rem;
}

article[class="signup-column"] .title {
    color: var(--color-secondary);
}

article[class="signup-column"] .fee {
    color: var(--color-alternate);
}
input[type="email"]{
    border: 0;
    padding: 0.5rem;
}

input[type="submit"] {
    background-color: var(--color-primary);
    color: var(--color-alternate);
    cursor: pointer;
    border: 0;
    padding: 0.5rem 1.25rem;
    margin-top: 0.5rem;
    text-transform: uppercase;
}
/* END OF SIGN UP STYLING */

footer {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* END OF FOOTER STYLING */

@media  screen and (max-width: 1024px) {
    .container {
        width: 90%;
    }

    nav[id="navigation"] .nav-links {
        gap: 0.5rem;
    }

    section[id="about"] .container {
        display: grid;
        gap: 1rem;
        grid-template-columns: minmax(min-content, 1fr);
    }

    section[id="sessions"] .container {
        grid-template-columns: minmax(min-content, 1fr);
    }  
}